.container-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    
}

.services-title {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    font-weight: 100;
}

.card-service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
   
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    background: #947e56;
}

.img-service {
    width: 250px;
    height: auto;
    
}

.item p {
    color: #222;
}
